/* Style the container to take up the entire viewport */
#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Style the "Get My Location" button */
#getLocationButton {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 50px; /* Adjust the left position as needed */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button is above the map */
    font-family: Arial, sans-serif; /* Set the font family to Arial */
    /* Disable text selection */
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */

    /* Prevent long tap actions on mobile devices */
    touch-action: manipulation;
}

/* Style the "Open Form" button */
#openFormButton {
    position: absolute;
    top: 60px; /* Adjust the top position as needed */
    left: 50px; /* Adjust the left position as needed */
    background-color: #7851a9; /* Purple background color */
    color: #fff; /* White text color */
    padding: 10px; /* Adjust padding as needed */
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000; /* Ensure the button is above the map */
    font-family: Arial, sans-serif; /* Set the font family to Arial */
    /* Disable text selection */
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */

    /* Prevent long tap actions on mobile devices */
    touch-action: manipulation;
}

#habitatInfo {
    position: absolute;
    top: 110px; /* Adjust the top position as needed */
    left: 50px; /* Adjust the left position as needed */
    background-color: #ffffff; /* White background color */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000; /* Ensure the div is above the map */
    font-family: Arial, sans-serif; /* Set the font family to Arial */
    /* Disable text selection */
    user-select: none;
    -webkit-user-select: none; /* For Safari and older versions of Chrome */

    /* Prevent long tap actions on mobile devices */
    touch-action: manipulation;
    
}

/* Style the map to fill the container */
#map {
    width: 100%;
    height: 100%;
}
